<%
locals.OLSKPageTitle = OLSKLocalized('KOMVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('KOMVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('KOMManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="KOMVitrine OLSKDecor OLSKDecorCapped OLSKDecorNoTopPad">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: '/_shared/KOMRootLink/ui-assets/identity.svg',
	OLSKCrownCardNameText: OLSKLocalized('KOMVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('KOMVitrineDescription'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKLocalized('OLSKWordingOpenApp'),
	OLSKLandingActionHref: OLSKCanonicalLocalized('KOMReviewRoute'),
}) %>

<div class="OLSKCommonVideoList">
	<p class="KOMVitrineVideo OLSKCommonVideoListItem">
		<iframe src="<%= process.env.KOM_VITRINE_VIDEO_URL %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
</div>

<h1 class="KOMVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('./submodules/KOMFeatureList/main.ejs') %>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs', {
	OLSKAppFeatureListRepoURL: process.env.OLSK_REPO_URL,
}).replace(/node_modules/g, '_shared/__external') %>

<a class="KOMVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('KOMGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="KOMVitrineVideoHeading"><%= OLSKLocalized('OLSKWordingVideo') %></h1>

<div class="OLSKCommonVideoList">
	
	<h2 class="KOMVitrineVideo1Heading"><%= OLSKLocalized('KOMVitrineVideo1HeadingText') %></h2>
	<p class="KOMVitrineVideo1 OLSKCommonVideoListItem OLSKCommonVideoListItemMobile">
		<iframe src="<%= process.env.KOM_VITRINE_VIDEOS_URL_1 %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
</div>

<h1 class="KOMVitrineDeeperHeading"><%= OLSKLocalized('OLSKWordingDeeperHeading') %></h1>

<dl class="KOMVitrineGlossary OLSKDecorGlossary">
	<h2 class="KOMVitrineGlossaryHeading"><%= OLSKLocalized('KOMVitrineGlossaryHeadingText') %></h2>
	
	<dt><a class="KOMVitrineGlossaryThaiLink" href="<%= process.env.KOM_VITRINE_THAI_URL %>"><%= OLSKLocalized('KOMVitrineGlossaryThaiLinkText') %></a></dt>
	<dd class="KOMVitrineGlossaryThaiBlurb"><%= OLSKLocalized('KOMVitrineGlossaryThaiBlurbText') %></dd>
	
	<dt><a class="KOMVitrineGlossaryFamilyLink" href="<%= process.env.KOM_VITRINE_FAMILY_URL %>"><%= OLSKLocalized('KOMVitrineGlossaryFamilyLinkText') %></a></dt>
	<dd class="KOMVitrineGlossaryFamilyBlurb"><%= OLSKLocalized('KOMVitrineGlossaryFamilyBlurbText') %></dd>
	
	<dt><a class="KOMVitrineGlossaryFriendsLink" href="<%= process.env.KOM_VITRINE_FRIENDS_URL %>"><%= OLSKLocalized('KOMVitrineGlossaryFriendsLinkText') %></a></dt>
	<dd class="KOMVitrineGlossaryFriendsBlurb"><%= OLSKLocalized('KOMVitrineGlossaryFriendsBlurbText') %></dd>

	<dt><a class="KOMVitrineGlossaryPortugueseLink" href="<%= process.env.KOM_VITRINE_PORTUGUESE_URL %>"><%= OLSKLocalized('KOMVitrineGlossaryPortugueseLinkText') %></a></dt>
	<dd class="KOMVitrineGlossaryPortugueseBlurb"><%= OLSKLocalized('KOMVitrineGlossaryPortugueseBlurbText') %></dd>
	
	<%- include('../../node_modules/ROCOGlossary/main.ejs', {
		ROCOGlossaryHeadingEnabled: true
	}) %>
</dl>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: 'Kommit',
}) %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="KOMVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="KOMVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
